@import '_normalize';
@import '_header';
@import '_footer';
@import '_fotos';
@import '_contacto';
@import '_actividades';
@import '_mediaQueries';

html {
    font-size: 55%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    background-color: #059c0d;
    display: block;
}

.contenedor {
    text-align: center;
    max-width: 90%;
    height: auto;
    width: auto;
    justify-content: center;
    margin: 0 auto;
}

.fondo {
    /* width: auto; */
    height: 30px;
}

h1 {
    font-size: 4rem;
    text-shadow: 0 0 8px;
}

h2 {
    font-size: 2.5rem;
    text-shadow: 0 0 8px;
}

h1,
h2 {
    text-align: center;
}

.frente {
    background-image: url(../img/frente.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.historia {
    width: 300px;
    height: auto;
    text-align: center;
}

.main {
    height: 75vh;
    display: flex;
    background-color: #5dbd62;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
}