.actividad {
    max-width: 120rem;
    margin: auto;

    display: block;
    transform-origin: bottom center;


    .actividad:hover {
        transform: scale(2);
    }

    .imagen {
        width: 280px;
        height: auto;
    }

    /* .imagenes {
    display: block;
} */
}