body {
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    background-color: #059c0d;
    display: block;

    span{
        font-size: 3rem;
        text-shadow: 0 0 9px;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes aparecer {
        10% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    h2 {
        font-size: 2.5rem;
        text-shadow: 0 0 8px;
    }

    h1,
    h2 {
        text-align: center;
    }
}