header {
    .encabezado {
        display: flex;
        margin-top: 1rem;
    }

    h1 {
        text-transform: uppercase;
        font-family: 'Arial Narrow';
        font-weight: bolder;
    }

    span {
        font-weight: bold;
    }

    .portada {
        display: block;
    }
}

.barra {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1px;

    li a {
        text-decoration: none;
        background-color: hsl(150, 89%, 82%);
        /* color: hsl(0, 22%, 93%); */
        box-shadow: 0 0 5px blue;
    }

    li:hover a {
        background: #333;
        color: #ffffff;
    }
}