html {
    font-size: 55%;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .contenedor {
        text-align: center;
        max-width: 90%;
        height: auto;
        width: auto;
        justify-content: center;
        margin: 0 auto;
    }
}